MedianaFilterService/bin/MedianaFilterService.dll
MedianaFilterService/bin/MedianaFilterService.pdb
MedianaFilterService/bin/Microsoft.ServiceModel.Web.dll
MedianaFilterService/bin/Microsoft.ServiceModel.Web.pdb
MedianaFilterService/obj/Debug/MedianaFilterService.csproj.FileListAbsolute.txt
MedianaFilterService/obj/Debug/MedianaFilterService.dll
MedianaFilterService/obj/Debug/MedianaFilterService.pdb
MedianaFilterService/obj/Debug/ResolveAssemblyReference.cache
